if SOC_SERIES_RISCV32_FE310

config SOC_SERIES
	string
	default "fe310"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	int
	default 32786

config RISCV_SOC_INTERRUPT_INIT
	bool
	default y

config RISCV_HAS_CPU_IDLE
	bool
	default y

config RISCV_HAS_PLIC
	bool
	default y

config NUM_IRQS
	int
	default 67

config XIP
	bool
	default y

config RISCV_ROM_BASE_ADDR
	hex
	default 0x20400000

config RISCV_ROM_SIZE
	hex
	default 0xC00000

config RISCV_RAM_BASE_ADDR
	hex
	default	0x80000000

config RISCV_RAM_SIZE
	hex
	default 0x10000

config FE310_IRQT_DRIVER
	bool "IrqTestPeripheral Driver enabled"
	depends on SOC_RISCV32_FE310
	default y

config FE310_ISR_PLIC_OPT_LVL
	int "Level of ISR optimization for PLIC IRQ handling"
	depends on SOC_RISCV32_FE310
	default 0

endif # SOC_SERIES_RISCV32_FE310
